{{> header}}

<section class="featured">
  <div class="video-bg">
    <video src="/video/stock-video.mp4" autoplay loop></video>
  </div>
  <div class="wrapper content">
    <h1 class="text-centered">Just for looks.</h1>
  </div>
</section>

<div class="grid">
  <main class="feed block block-md-9">
    <div class="masonry">
    {{#each data.posts}}
      <article class="post block">
        {{#if this.image}}
        <div class="image post-image">
          <img src="{{{this.image}}}" />
        </div>
        {{/if}}
        <h3 class="title post-title">{{{this.title}}}</h3>
        <p class="excerpt post-excerpt">{{{this.excerpt}}}</p>
      </article>
    {{/each}}
    </div>
  </main>

  <aside class="block block-md-3">

  </aside>
</div>

{{> footer}}
