{{> header}}

<section class="featured main">
  <div class="wrapper content">
    <h2 class="text-centered">Just for looks.</h2>
  </div>
  <div class="video-bg featured">
    <video src="/video/stock-video.mp4" autoplay loop></video>
  </div>
</section>

<main class="feed">
  <div class="masonry">
  {{#each data.posts}}
    <article class="block">
      {{#if this.image}}
      <div class="image post">
        <img src="{{{this.image}}}" />
      </div>
      {{/if}}
      <h3 class="title post">{{{this.title}}}</h3>
      <p class="excerpt post">{{{this.excerpt}}}</p>
    </article>
  {{/each}}
  </div>
</main>

<aside>

</aside>

{{> footer}}
