/*
 * The Brand.
 */
.brand {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 0.5em 1em;
  height: 6em;

  img {
    height: 100%;
  }
}

/*
 * Navigation.
 */
.nav {
  border-top: 1px solid lighten(@auto_dark,5%);
  z-index: 998;
  background: @header_bg_color;
  .transition(min-height 0.5s);
  .box-shadow(0 1px 2px fadeout(#000,40%));

  &.header {
    a {
      font-weight: 400;
      display: inline-block;
      color: fadeout(@auto_light,40%);
      text-transform: uppercase;
      font-size: 0.83em;
      letter-spacing: 0.1em;
      padding: 1.6em 1em 1.3em;
      border-bottom: 2px solid @auto_dark;
    }

    a:hover {
      border-bottom: 2px solid @auto_light;
      color: @auto_light;
    }
  }
}

.links-social {
  font-size: 1.2em;
  a {
      display: inline-block;
      margin: 1em 1em;
  }

}

/*
 * A slide down panel for more nav content.
 */
.slide-panel {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: darken(@auto_dark,5%);
  height: 0;
  .transition(height 0.375s);
}
.panel-partial {
  height: 5em;
}

/*
 * Featured Content.
 */
.featured {
  position: relative;
  margin-top: -1em;
  overflow: hidden;
  background: @auto_light;
  height: 12em;

  h1 {
    color: @light;
    font-size: 2.1em;
    margin-bottom: 1em;
  }

  p {
    color: fadeout(@light, 40%);
  }

  @media screen and (min-width: @break_sm) {
    height: 20em;
  }
  @media screen and (min-width: @break_md) {
    height: 25em;
  }
  @media screen and (min-width: @break_lg) {
    height: 30em;
  }
  @media screen and (min-width: @break_xl) {
    height: 36em;
  }
}
.featured-content {
  width: 100%;
  position: absolute;
  top: 50%;
  .transform(translateY(-50%));
}

/*
 * Video Backgrounds and Videos.
 */
.video-bg {
  .transform(translate3d(-50%,-50%,0));
  top: 37%;
  left: 50%;

  position: fixed;
  width: 100%;

  video {
    width: 120%;
  }

  // Overlay prevents user controlling video with right-click
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: fadeout(#000,50%);
  }
}

/*
 * Filter Effects.
 */
.bg-blur {
  .filter(blur(8px));
}

.blur-out {
  .transform(scale(1.2));
  .filter(blur(40px));
}

/*
 * Content Feeds.
 */
.feed {
  padding: 1em;
}
.feed-filter {
  padding: 1em 1%;
}

/*
 * Posts.
 */
.post {
  opacity: 0;
  cursor: pointer;
  .box-shadow(0 1px 2px @auto_light);
  .transform(translateY(100%));
  .transition(all 0.475s); // @todo - fix problem with Masonry

  &.loaded {
    opacity: 1;
    .transform(translateY(0));
  }
}
.twitter {
  background: none;
  text-align: center;
  .box-shadow(none);
}
.twitter-profile {
  margin-top: 1em;
  display: inline-block;

  .profile-crop {
    float: left;
    width: 3em;
    height: 3em;
    overflow: hidden;
    border: 2px solid @auto_light;
    .border-radius(50%);

    img {
      width: 105%;
    }
  }

  em {
    float: right;
    margin-top: 1em;
    margin-left: 0.5em;
  }

}

.post:active {
  .transition(all 0.175s);
  .box-shadow(0 1px 2px darken(@auto_light,10%));
  .transform(translateY(2px));
}
.post-title {
  padding: @post_padding @post_padding 0.25em;
}
.post-tags {
  padding: 0 @post_padding @post_padding;
}
.post-tags button:first-child {
  .button-solid;
}
.post-excerpt {
  margin-bottom: 0;
  padding: 0.25em @post_padding @post_padding;
}

.post-image {
  overflow: hidden;

  img {
    width: 100%;
  }
}

.post:hover {
  .meta {
    color: @auto_medium;
  }
}

.meta {
  color: @auto_medium;
  margin-bottom: 0;
  .transition(all 0.275s);
}
.post-meta {
  padding: 0.25em @post_padding @post_padding;
}

/*
 * Ads.
 */
.feed-ads {
  padding: 2em;
}
.ad {
  background: @auto_light;
  height: 13em;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * Buttons.
 */

.button {
  padding: 0.25em 1em;
  background: @action_button_color;
}

.button-solid {
  background: @auto_dark;
  border: 1px solid @auto_dark;
  color: @light;
}

.button-emphasis {
  font-size: 1.2em;
  opacity: 1;
  color: #fefefe;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  .border-radius(2px);
}

.button-emphasis:hover {
  border: 1px solid rgba(0,0,0,0);
  background: lighten(@action_button_color,10%);
}

.button-active {
  opacity: 1;
  border: 1px solid @auto_medium;
}
